*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}
header span{
    display: inline-block;
    padding: 10px;
    border: 5px;
    background-color: gray;
}
